<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjf.mapper.BjfMcategoryMapper">
  <resultMap id="BaseResultMap" type="com.bjf.pojo.BjfMcategory">
    <id column="mcg_id" jdbcType="INTEGER" property="mcgId" />
    <result column="cg_id" jdbcType="INTEGER" property="cgId" />
    <result column="mcg_time" jdbcType="DOUBLE" property="mcgTime" />
  </resultMap>
  <sql id="Base_Column_List">
    mcg_id, cg_id, mcg_time
  </sql>

</mapper>