body{
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
/*头部导航条主体*/
.header-box{
    width: 100%;
    height: 37px;
    background-color: #eaeaea;
    margin-bottom: 130px;
}
.top{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/*头部超链接文字*/
.top span a{
    color: #0f0f0f;
    margin: 0 4px;
}
.top span a:hover{
    cursor: pointer;
    color: chocolate;
}
/*头部左侧超链接文字*/
.leftText{
    float: left;
    width: 191px;
    height: 37px;
    line-height: 37px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #000000;
}
.exit_login{
    text-decoration: none;
}
#checka{
    text-decoration: none;
}
/*头部右侧超链接文字*/
.rightText{
    float: right;
    width: 300px;
    height: 37px;
    line-height: 37px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #000000;
}
.rightText a:hover{
    cursor: pointer;
    color: chocolate;
    text-decoration: none;
}
/*logo图片*/
.search{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search img{
    width: 130px;
    height: 130px;
}
/*搜索框*/
.search input{
    width: 400px;
    height: 27px;
}
/*搜索按钮*/
.search button{
    width: 80px;
    height: 28px;
    background-color: #009fe6;
    border: solid 2px #009fe6;
}


/*底部导航条*/
.bottem-nav-box{
    width: 100%;
    height: 480px;
    background-color: #eaeaea;
    margin-top: 60px;
}
.bottem{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.bottem-text{
    float: left;
    display: inline-block;
    margin-right: 98px;
    margin-top: 44px;
}
.bottem-text1{
    float: left;
    display: inline-block;
    margin-top: 44px;
}
.bottem-text-content{
    margin-left: 60px;
    margin-top: 20px;
}
.bottem-text-title{
    width: 88px;
    height: 23px;
    font-family: SimHei;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -2px;
    color: #000000;
    margin-left: 53px;
}
/*二维码*/
.erweima{
    width: 124px;
    height: 124px;
    background-color: #ffffff;
    float: right;
    margin-top: 184px;

}
/*底部文字*/
.footer{
    margin-top: 30px;
    /*border: 5px solid;*/
    color: black;
}
.footer ul{
    text-align: center;
    margin-left: -100px;
}
.footer ul span{
    margin-left: 40px;
    font-family: SimHei;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: #000000;
}
