*{margin: 0px; padding: 0px;}
/*边框*/
.border{
    /*border: 1px solid;*/
}
/*商标*/
.img1{
    margin-left: 620px;
}
/*主体容器*/
.content{
    margin-top: 30px;

}
/*注册表单整体*/
.register{
    border: 1px solid;
    height: 700px;
    width: 800px;
    border-radius: 17px

}
.title {
    width: 798px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 17px 17px 0px 0px;
}
/*新用户注册*/
.title h4{
    font-family: SimHei;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    font-weight: bolder;
}

/*去登陆*/
.login{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.login span{
    font-family: SimHei;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;

}

.border{
    border: 3px solid;
    height: 900px;
    width: 1000px;
}
/*表单结构*/
form{
    margin-top: 40px;
    width: 450px;
    margin-left: 155px;
}
form label{
    font-family: SimHei;
    font-weight: bolder;
    font-stretch: normal;
    color: #0f0f0f;
}
#woman{
    margin-left: 30px;
}

/*提交按钮*/
.btn{
    width: 450px;
    height: 36px;
    background-color: #6982fe;
    text-decoration: none;
}
/*用户协议*/
.checkbox{
    text-align: center;
}
.checkbox a{
    color: #0f0f0f;
}
/*底部容器*/
.footer{
    margin-top: 30px;
    /*border: 5px solid;*/
    color: black;
    font-size: 15px;
}
.footer ul{
    text-align: center;
}
.footer ul span{
    margin-left: 40px;
    font-family: SimHei;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: #000000;
}
.sweetAlert {
   color: red;

}