<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/toreader.css">
</head>
<body>

<div class="container-fluid">
    <div class="main">
        <p>用户协议书</p>
        <div class="content"><span>
一、美团网服务条款的确认和接纳
美团网（以下简称本站）的各项电子服务的所有权和运作权归本站。本站提供的服务将完全按照其发布的服务条款和操作规则严格执行。用户必须完全同意所有服务条款并完
成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。在下订单的同时，您也同时
承认了您拥有购买这些产品的权利能力和行为能力，并且将您对您在订单中提供的所有信息的真实性负责。<br>
二、服务简介
本站运用自己的操作系统通过国际互联网络为用户提供网络服务。同时，用户必须：<br>
1.自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置。<br>
2.自行负担个人上网所支付的与此服务有关的电话费用、网络费用。<br>
基于本站所提供的网络服务的重要性，用户应同意：<br>
1.提供详尽、准确的个人资料。<br>
2.不断更新注册资料，符合及时、详尽、准确的要求。<br>
本站对用户的电子邮件、手机号等隐私资料进行保护，承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息出租或出售给任何第三方，但以下情况除外：<br>
1.用户同意让第三方共享资料；<br>
2.用户同意公开其个人资料，享受为其提供的产品和服务；<br>
3.本站需要听从法庭传票、法律命令或遵循法律程序；<br>
4.本站发现用户违反了本站服务条款或本站其它使用规定。<br>
关于用户隐私的具体协议以本站的隐私声明为准。<br>
如果用户提供的资料包含有不正确的信息，本站保留结束用户使用网络服务资格的权利。<br>

三、价格和数量<br>
本站将尽最大努力保证您所购商品与网站上公布的价格一致，但价目表和声明并不构成要约。本站有权在发现了其网站上显现的产品及订单的明显错误或缺货的情况下，单方
面撤回任何承诺。同时，本站保留对产品订购的数量的限制权。<br>
产品的价格和可获性都在本站上指明。这类信息将随时更改且不发任何通知。商品的价格都包含了增值税。如果发生了意外情况，在确认了您的订单后，由于供应商提价，税
额变化引起的价格变化，或是由于网站的错误等造成商品价格变化，您有权取消您的订单，并希望您能及时通过电子邮件或电话通知本站客户服务部。<br>
四、服务条款的修改<br>
本站将可能不定期的修改本用户协议的有关条款，一旦条款及服务内容产生变动，本站将会在重要页面上提示修改内容。如果不同意本站对条款内容所做的修改，用户可以主
动取消获得的网络服务。如果用户继续使用本站的服务，则视为接受服务条款的变动。本站保留随时修改或中断服务而不需告知用户的权利。本站行使修改或中断服务的权利
不需对用户或第三方负责。<br>
五、用户的账户，密码和安全性<br>
用户一旦注册成功，成为本站的合法用户，将得到一个密码和用户名。您可随时根据指示改变您的密码。用户将对用户名和密码安全负全部责任。另外，每个用户都要对以其
用户名进行的所有活动和事件负全责。用户若发现任何非法使用用户账户或存在安全漏洞的情况，请立即通告本站。<br>
美团账号使用权仅属于初始注册人，禁止赠与、借用、租用、转让或售卖。如果美团网发现使用者并非账号初始注册人，美团有权在未经通知的情况下回收该账号而无需向该
账号使用人承担法律责任。美团网禁止用户私下有偿或无偿转让账号，以免因账号问题产生纠纷，用户应当自行承担因违反此要求而遭致的任何损失，同时美团网保留追究上
述行为人法律责任的权利。<br>
如发生利用计算机程序进行恶意注册、邀请、参与的情形，美团网有权在不事先通知用户的情况下单方面中断或终止向用户提供服务而无需通知用户。<br>
</span>
        </div>
    </div>
</div>
</body>
</html>
