<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/js/jquery-2.1.4.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/js/bootstrap.js"></script>

	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet">

	<link href="/css/person.css" rel="stylesheet">
	<!-- 头尾样式 -->
	<link rel="stylesheet" href="/css/headEnd.css">
	<!-- 头尾js -->
	<script src="/js/headEnd.js"></script>

	<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<link href="/css/vipHome.css" rel="stylesheet">
	<script src="/js/vipHome.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<title></title>
</head>

<body>
	<!--    头部导航条-->
	<div class="header-box">
		<div class="clearfix top">
			<div class="col-md-12">
				<span class="leftText">欢迎你！<a class="exit_login">退出</a></span>
				<span class="rightText">
                    <a href="Index.html">首页</a>|
                    <a id="order">我的订单</a>|
                    <a id="mycart">我的购物车</a>|
                    <a id="person">个人中心</a>
                </span>
			</div>
			<div class="search">
				<img src="/images/logo.png">

			</div>
		</div>
	</div>
	<div style="width: 1300px;margin: auto;">
		<div class="headBox">
			<div style="display: flex;align-items: center;">
				<img src="" alt="" class="img-circle userHead">
				<div class="vipNewsBox">

				</div>
			</div>
			<div class="vipBtnGroup">

			</div>
		</div>
		<div class="iconBox">
			<div class="icon_title">
				会员权益
			</div>
			<div class="allIcon">

			</div>
		</div>
		<div class="interestBox">
			<div class="interest_title">
				会员特价
			</div>
			<div class="offerBox">

			</div>
		</div>
	</div>
	<!--    尾部导航条-->
	<div class="bottem-nav-box">
		<div class="row clearfix bottem">
			<!--        正品保障+购物指南-->
			<div class="col-md-12 column">
				<!--            图标+第一块文字-->
				<div class="bottem-text text1">
					<img src="/images/icon.jpg">
					<span>正品保障，提供发票</span><br><br>
					<br><span class="bottem-text-title">购物指南</span>
					<div class="bottem-text-content">
						<span>购物流程</span>
						<br><span>会员介绍</span>
						<br><span>生活旅行团购</span>
						<br><span>常见问题</span>
						<br><span>购物指南</span>
					</div>
				</div>
				<!--            图标+第二块文字-->
				<div class="bottem-text text1">
					<img src="/images/icon.jpg">
					<span>正品保障，提供发票</span><br><br>
					<br><span class="bottem-text-title">购物指南</span>
					<div class="bottem-text-content">
						<span>购物流程</span>
						<br><span>会员介绍</span>
						<br><span>生活旅行团购</span>
						<br><span>常见问题</span>
						<br><span>购物指南</span>
					</div>
				</div>
				<!--            图标+第三块文字-->
				<div class="bottem-text text1">
					<img src="/images/icon.jpg">
					<span>正品保障，提供发票</span><br><br>
					<br><span class="bottem-text-title">购物指南</span>
					<div class="bottem-text-content">
						<span>购物流程</span>
						<br><span>会员介绍</span>
						<br><span>生活旅行团购</span>
						<br><span>常见问题</span>
						<br><span>购物指南</span>
					</div>
				</div>
				<!--            图标+第四块文字-->
				<div class="bottem-text1 text1">
					<img src="/images/icon.jpg">
					<span>正品保障，提供发票</span><br><br>
					<br><span class="bottem-text-title">购物指南</span>
					<div class="bottem-text-content">
						<span>购物流程</span>
						<br><span>会员介绍</span>
						<br><span>生活旅行团购</span>
						<br><span>常见问题</span>
						<br><span>购物指南</span>
					</div>
				</div>
				<div class="erweima"></div>

			</div>
			<!--        底部介绍-->
			<div class="col-md-12 column footer">
				<ul>
					<span>关于我们</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
					<span>联系我们</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
					<span>联系客服</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
					<span>营销中心</span>
				</ul>
				<ul>
					<span>地址：浙江省宁波市鄞州区柏庭养老管理集团主楼5楼 邮编：31500 电话00-000000000 邮箱：bangjifans.com</span>

				</ul>
				<ul>
					<span>京ICP备08001421号京公网安备110108007702</span>

				</ul>
			</div>
		</div>
	</div>
</body>

</html>
