<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>微信支付</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/qrcode.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="/css/WePay.css"/>
		<script src="/js/WePay.js" type="text/javascript" charset="utf-8"></script>
		
		
	</head>
	<body>
		<div class="container-fluid" style="height: 20px;background-color: #adadad;">
			<div class="container">
				<span style="float: right;font-size: 13px;color: #fff;">你好，欢迎使用微信支付！</span>
			</div>
		</div>
		<div class="container-fluid" style="height: 100px;">
			<div class="container">
				<img src="/images/logo.png" style="height: 100px;">
			</div>
		</div>
		<!-- 微信支付主体 -->
		<div class="container-fluid" style="background-color: #eee;">
			<div class="container" style="position: relative;">
				<div class="order-Id-box">
					订单编号：<span id="order-Id"></span>
				</div>
				<div class="mount-payable-box">
					应付金额：<span id="mount-payable">￥</span>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container">
				<div class="paybox">
					<img src="/images/WePayLogo.png" style="height: 40px;">
					<div id="QRcode-box">
						<div id="QRcode" style="width: 200px;height: 200px;">
							
						</div>
					</div>
					<div class="instructions">
						<img src="/images/instructions.png" style="width: 200px;">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
